[submodule "include/zip"]
	path = include/zip
	url = https://github.com/kuba--/zip.git
[submodule "include/curl-android-ios"]
	path = include/curl-android-ios
	url = https://github.com/gcesarmza/curl-android-ios
